<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudblog.common.mapper.ErrorMapper">

    <insert id="insertGlobalException">
        insert into err_log (err_type, err_msg, err_stack, create_time)
        values (#{simpleName}, #{message}, #{stackTrace}, now())
    </insert>

    <select id="getSensitiveWords" resultType="com.cloudblog.common.pojo.DoMain.PostForbiddenWords">
        select
            id,
            word,
            description,
            status,
            update_time,
            create_time
        from post_forbidden_words
        where status = 1
    </select>
</mapper>