<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudblog.user.mapper.UserInfoMapper">

    <select id="getUserList" resultType="com.cloudblog.common.pojo.Vo.IndexUserListVo">
        select
            use_id,
            user_name,
            image,
            level,
            is_vip
        from
            user_info
    </select>
    <select id="getScoreBasedUserList" resultType="com.cloudblog.common.pojo.Vo.IndexUserListVo">
        SELECT
            ui.user_id AS userId,
            ui.user_name AS userName,
            ui.image AS avatar,
            ui.level AS level,
            ui.is_vip AS isVip,
            IFNULL(post_count.post_count, 0) AS postCount,
            IFNULL(fan_count.fan_count, 0) AS fanCount,
            (IFNULL(post_count.post_count, 0) * 0.5 + IFNULL(fan_count.fan_count, 0) * 0.5) AS score
        FROM user_info ui
            LEFT JOIN (
                SELECT
                    author_id AS user_id,
                    COUNT(*) AS post_count
                FROM posts
                WHERE status = 2
                GROUP BY author_id
        ) post_count ON ui.user_id = post_count.user_id
            LEFT JOIN (
                SELECT
                    focus_user_id AS user_id,
                    COUNT(*) AS fan_count
                FROM user_focus
                GROUP BY focus_user_id
        ) fan_count ON ui.user_id = fan_count.user_id
        <where>
            <if test="lastScore != null and lastUserId != null">
                AND (
                (IFNULL(post_count.post_count, 0) * 0.5 + IFNULL(fan_count.fan_count, 0) * 0.5) &lt; #{lastScore}
                OR (
                (IFNULL(post_count.post_count, 0) * 0.5 + IFNULL(fan_count.fan_count, 0) * 0.5) = #{lastScore}
                AND ui.user_id &lt; #{lastUserId}
                )
                )
            </if>
        </where>
        ORDER BY score DESC, ui.user_id DESC
        LIMIT #{size}
    </select>
</mapper>