<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudblog.content.mapper.FavoritesMapper">

    <insert id="initDefaultFavorites" parameterType="java.lang.Long">
        insert into favorites(user_id, favorites_name, description, create_time)
            values (#{id}, '默认收藏夹', '默认收藏夹', now())
    </insert>

    <insert id="addCollect">
        insert into collect(user_id, favorites_id, post_id, create_time)
            values (#{userId}, #{favoritesId}, #{postId}, now())
    </insert>

    <update id="collecting">
        update
            collect
        set
            status = #{status}
        where
            user_id = #{userId}
            and
            post_id = #{postId}
            and
            favorites_id = #{favoriteId}
    </update>

    <select id="getTargetHasCollectedFavorites" resultType="java.lang.Integer">
        select
            favorites_id
        from
            collect
        where
            user_id = #{userId}
            and post_id = #{postId}
            and status = 0
    </select>
</mapper>