<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudblog.content.mapper.FavoritesMapper">

    <insert id="initDefaultFavorites" parameterType="java.lang.Long">
        insert into favorites(user_id, favorites_name, description, create_time)
            values (#{id}, '默认收藏夹', '默认收藏夹', now())
    </insert>
</mapper>