<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudblog.content.mapper.InterestMapper">

    <select id="getUserInterest" resultType="com.cloudblog.common.pojo.DoMain.Tag">
        select t.id,
               t.tag_name,
               t.description,
               t.create_time,
               t.update_time
        from tag t left join (select * from user_interest where user_id = #{userId}) ui on t.id = ui.tag_id
        order by ui.weight desc
    </select>
</mapper>