<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudblog.content.mapper.InterestMapper">

    <resultMap id="TagClassVoResultMap" type="com.cloudblog.common.pojo.Vo.TagClassVo">
        <id property="id" column="id"/>
        <result property="className" column="class_name"/>
        <result property="description" column="description"/>
    </resultMap>

    <select id="getUserInterest" resultType="com.cloudblog.common.pojo.DoMain.Tag">
        select t.id,
               t.tag_name,
               t.description,
               t.create_time,
               t.update_time
        from tag t inner join (select user_id, tag_id, weight from user_interest where user_id = #{userId}) ui on t.id = ui.tag_id
        order by ui.weight desc
    </select>

    <select id="getTagClassList" resultType="com.cloudblog.common.pojo.Vo.TagClassVo" resultMap="TagClassVoResultMap">
        select
            id,
            class_name,
            description
        from tag_class
    </select>

    <update id="upgradeUserInterest" parameterType="java.util.List">
        UPDATE user_interest
        SET weight = CASE
        <foreach collection="interests" item="interest">
            WHEN user_id = #{interest.userId} AND tag_id = #{interest.tagId} THEN #{interest.weight}
        </foreach>
        END
        WHERE (user_id, tag_id) IN
        <foreach collection="interests" item="interest" open="(" close=")" separator=",">
            (#{interest.userId}, #{interest.tagId})
        </foreach>
    </update>

    <delete id="removeUserInterest" parameterType="com.cloudblog.common.pojo.Po.RemoveInterestPo">
        delete from user_interest where user_id = #{userId} and tag_id = #{tagId}
    </delete>

    <insert id="addUserInterest" parameterType="com.cloudblog.common.pojo.Po.AddInterestPo">
        insert into user_interest (user_id, tag_id, create_time) values (#{userId}, #{tagId}, now())
    </insert>

    <insert id="addPostTag">
        insert into post_tag (post_id, tag_id, create_time) values
        <foreach item="tagId" collection="tagIds" separator=",">
            (#{postId}, #{tagId}, now())
        </foreach>
    </insert>
</mapper>