<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudblog.content.mapper.InterestMapper">

    <resultMap id="TagClassVoResultMap" type="com.cloudblog.common.pojo.Vo.TagClassVo">
        <id property="id" column="id"/>
        <result property="className" column="class_name"/>
        <result property="description" column="description"/>
        <result property="status" column="status"/>
    </resultMap>

    <select id="getUserInterest" resultType="com.cloudblog.common.pojo.DoMain.Tag">
        select t.id,
               t.tag_name,
               t.description,
               t.create_time,
               t.update_time
        from tag t inner join (select user_id, tag_id, weight from user_interest where user_id = #{userId}) ui on t.id = ui.tag_id
        order by ui.weight desc
    </select>

    <select id="getTagClassList" resultType="com.cloudblog.common.pojo.Vo.TagClassVo" resultMap="TagClassVoResultMap">
        select
            id,
            class_name,
            description,
            status
        from tag_class
        where status = 0
        <if test="className != null and className != ''">
            and class_name like concat('%', #{className}, '%')
        </if>
    </select>
    <select id="getPostTagInfo" resultType="com.cloudblog.common.pojo.DoMain.Tag">
        select
            t.id as id,
            t.tag_name as tag_name
        from
            post_tag pt
            inner join
            tag t on pt.tag_id = t.id
        where
            post_id = #{postId}
    </select>

    <update id="upgradeUserInterest" parameterType="java.util.List">
        UPDATE user_interest
        SET weight = CASE
        <foreach collection="interests" item="interest">
            WHEN user_id = #{interest.userId} AND tag_id = #{interest.tagId} THEN #{interest.weight}
        </foreach>
        END
        WHERE (user_id, tag_id) IN
        <foreach collection="interests" item="interest" open="(" close=")" separator=",">
            (#{interest.userId}, #{interest.tagId})
        </foreach>
    </update>

    <delete id="removeUserInterest" parameterType="com.cloudblog.common.pojo.Po.RemoveInterestPo">
        delete from user_interest where user_id = #{userId} and tag_id = #{tagId}
    </delete>

    <insert id="addUserInterest" parameterType="com.cloudblog.common.pojo.Po.AddInterestPo">
        insert into user_interest (user_id, tag_id, create_time) values (#{userId}, #{tagId}, now())
    </insert>

    <insert id="addPostTag">
        insert into post_tag (post_id, tag_id, create_time) values
        <foreach item="tagId" collection="tagIds" separator=",">
            (#{postId}, #{tagId}, now())
        </foreach>
    </insert>

    <select id="getTagList" resultType="com.cloudblog.common.pojo.DoMain.Tag">
        select
            t.id as id,
            t.tag_name as tag_name,
            t.class_id as class_id,
            tc.class_name as class_name,
            t.description as description,
            t.create_time as create_time,
            t.update_time as update_time,
            t.status as status
        from
            tag t
            left join
            tag_class tc
            on t.class_id = tc.id
        where
            t.status = 0
        <if test="tagName != null and tagName != ''">
            and t.tag_name like concat('%', #{tagName}, '%')
        </if>
        <if test="classId != null">
            and t.class_id = #{classId}
        </if>
    </select>

</mapper>