<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudblog.content.mapper.LikeMapper">

    <update id="liking">
        update likes set status = #{status} where user_id = #{userId} and target_id = #{targetId} and type = #{type}
    </update>

    <select id="getUserLikeCount" resultType="java.lang.Integer">
        select count(*) from likes where (target_id in (select id from posts where author_id = #{userId})
            or target_id in (select id from share where author_id = #{userId})) and status = 0
    </select>

    <select id="calculateLikeCount" resultType="java.lang.Long">
        select
            count(1)
        from
            likes
        where
            target_id = #{contentId}
            and type = #{type}
            and status = 0
    </select>

    <select id="getUserInterests" resultType="com.cloudblog.common.pojo.DoMain.UserInterest"
            parameterType="java.lang.Long">
        select
            id,
            user_id,
            tag_id,
            weight,
            create_time,
            update_time
        from
            user_interest
        where
            user_id = #{userId}
    </select>
</mapper>