<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudblog.content.mapper.PostMapper">

    <resultMap id="UserLikeResultMap" type="com.cloudblog.common.pojo.Vo.UserLikeListVo">
        <id property="postId" column="id"/>
        <result property="title" column="title"/>
        <result property="image" column="image"/>
        <result property="isVip" column="is_vip"/>
        <result property="createTime" column="create_time"/>
        <result property="status" column="status"/>
    </resultMap>

    <resultMap id="UserCollectResultMap" type="com.cloudblog.common.pojo.Vo.UserCollectListVo">
        <id property="postId" column="id"/>
        <result property="title" column="title"/>
        <result property="image" column="image"/>
        <result property="isVip" column="is_vip"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <resultMap id="UserBrowseResultMap" type="com.cloudblog.common.pojo.Vo.UserBrowseListVo">
        <id property="postId" column="id"/>
        <result property="title" column="title"/>
        <result property="image" column="image"/>
        <result property="isVip" column="is_vip"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <resultMap id="UserPostResultMap" type="com.cloudblog.common.pojo.Vo.UserPostVo">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="introduction" column="introduction"/>
        <result property="image" column="image"/>
        <result property="type" column="type"/>
        <result property="postType" column="post_type"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="browseCount" column="browse_count"/>
        <result property="likeCount" column="like_count"/>
        <result property="collectCount" column="collect_count"/>
    </resultMap>

    <resultMap id="PostTagResultMap" type="com.cloudblog.common.pojo.DoMain.PostTag">
        <id property="id" column="id"/>
        <result property="postId" column="post_id"/>
        <result property="tagId" column="tag_id"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <resultMap id="UserInterestResultMap" type="com.cloudblog.common.pojo.DoMain.UserInterest">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="tagId" column="tag_id"/>
        <result property="weight" column="weight"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="getUserLikeList" resultType="com.cloudblog.common.pojo.Vo.UserLikeListVo" resultMap="UserLikeResultMap">
        select p.id as id, title, image, is_vip, td.create_time as create_time, td.status as status from
            (select target_id, create_time, status from likes
                <where>
                    type = #{type} and user_id = #{userId} and status = 0
                    <if test="beginTime != null"> and date(create_time) &gt;= #{beginTime}</if>
                    <if test="endTime != null"> and date(create_time) &lt;= #{endTime}</if>
                </where>) td
                left join
            posts p
            on td.target_id = p.id where p.status = 2
    </select>

    <select id="getUserCollectList" resultType="com.cloudblog.common.pojo.Vo.UserCollectListVo" resultMap="UserCollectResultMap">
        select
            p.id as id,
            title,
            image,
            is_vip,
            c.status as status,
            c.create_time as create_time
        from
            favorites f
                inner join
            collect c
                on f.id = c.favorites_id and c.status = 0 and f.id = #{favoritesId} and c.user_id = #{userId}
                inner join
            posts p
                on c.post_id = p.id and p.status = 2
        <where>
            <if test="postName != null and postName != '' ">and p.title like concat('%', #{postName}, '%')</if>
        </where>
        order by c.create_time desc
    </select>

    <select id="getUserBrowseHistory" resultType="com.cloudblog.common.pojo.Vo.UserBrowseListVo" resultMap="UserBrowseResultMap">
        select id,
            title,
            image,
            is_vip,
            b.create_time as create_time
        from
            posts
                inner join
            (select
                post_id,
                create_time
            from browse
            where
                user_id = #{userId}
                and type = #{type}
                <if test="beginTime != null"> and date(create_time) &gt;= #{beginTime} </if>
                <if test="endTime != null"> and date(create_time) &lt;= #{endTime}</if>
            ) b
        on posts.id = b.post_id
        where status = 2
        order by b.create_time desc
    </select>

    <select id="getUserPostList" resultType="com.cloudblog.common.pojo.DoMain.Posts" resultMap="UserPostResultMap">
        SELECT p.id AS id,
            p.title AS title,
            p.introduction AS introduction,
            p.image AS image,
            p.type AS type,
            p.post_type AS post_type,
            p.create_time AS create_time,
            p.update_time AS update_time,
            IFNULL(browse_count.browse_count, 0) AS browse_count,
            IFNULL(like_count.like_count, 0) AS like_count,
            IFNULL(collect_count.collect_count, 0) AS collect_count
        FROM posts p
        LEFT JOIN (
            SELECT post_id, COUNT(*) AS browse_count
            FROM browse
            WHERE type = 0
            GROUP BY post_id
        ) browse_count ON p.id = browse_count.post_id
        LEFT JOIN (
            SELECT target_id AS post_id, COUNT(*) AS like_count
            FROM likes
            WHERE type = 0 AND status = 0
            GROUP BY target_id
        ) like_count ON p.id = like_count.post_id
        LEFT JOIN (
            SELECT post_id, COUNT(*) AS collect_count
            FROM collect
            WHERE status = 0
            GROUP BY post_id
        ) collect_count ON p.id = collect_count.post_id
        WHERE p.author_id = #{userId} AND p.status = 2
        <if test="lastId != null and lastCreateTime != null">
            AND (
            p.create_time &lt; #{lastCreateTime}
            OR (p.create_time = #{lastCreateTime} AND p.id &lt; #{lastId})
            )
        </if>
        ORDER BY p.create_time DESC, p.id DESC
        LIMIT #{size}
    </select>

    <select id="getPostListWithInterest" resultType="com.cloudblog.common.pojo.Vo.UserPostVo" resultMap="UserPostResultMap">
        SELECT p.id AS id,
            p.title AS title,
            p.introduction AS introduction,
            p.image AS image,
            p.type AS type,
            p.post_type AS post_type,
            p.create_time AS create_time,
            p.update_time AS update_time,
            IFNULL(browse_count.browse_count, 0) AS browse_count,
            IFNULL(like_count.like_count, 0) AS like_count,
            IFNULL(collect_count.collect_count, 0) AS collect_count,
            IFNULL(interest_score.total_weight, 0) AS interest_score
        FROM posts p
        LEFT JOIN (
            SELECT post_id, COUNT(*) AS browse_count
            FROM browse
            WHERE type = 0
            GROUP BY post_id
        ) browse_count ON p.id = browse_count.post_id
        LEFT JOIN (
            SELECT target_id AS post_id, COUNT(*) AS like_count
            FROM likes
            WHERE type = 0 AND status = 0
            GROUP BY target_id
        ) like_count ON p.id = like_count.post_id
        LEFT JOIN (
            SELECT post_id, COUNT(*) AS collect_count
            FROM collect
            WHERE status = 0
            GROUP BY post_id
        ) collect_count ON p.id = collect_count.post_id
        LEFT JOIN (
            SELECT pt.post_id, SUM(ui.weight) AS total_weight
            FROM post_tag pt
            JOIN user_interest ui ON pt.tag_id = ui.tag_id
            WHERE ui.user_id = #{userId}
            GROUP BY pt.post_id
        ) interest_score ON p.id = interest_score.post_id
        WHERE p.status = 2 and p.post_type = #{postType}
        <if test="lastId != null and lastCreateTime != null">
            AND (
            (IFNULL(interest_score.total_weight, 0) &lt; #{lastInterestScore})
            OR (IFNULL(interest_score.total_weight, 0) = #{lastInterestScore} AND p.create_time &lt; #{lastCreateTime})
            OR (IFNULL(interest_score.total_weight, 0) = #{lastInterestScore} AND p.create_time = #{lastCreateTime} AND p.id &lt; #{lastId})
            )
        </if>
        ORDER BY interest_score DESC, p.create_time DESC, p.id DESC
        LIMIT #{size}
    </select>

    <select id="getPostListWithNoInterest" resultType="com.cloudblog.common.pojo.Vo.UserPostVo" resultMap="UserPostResultMap">
        SELECT p.id AS id,
            p.title AS title,
            p.introduction AS introduction,
            p.image AS image,
            p.type AS type,
            p.post_type AS post_type,
            p.create_time AS create_time,
            p.update_time AS update_time,
            IFNULL(browse_count.browse_count, 0) AS browse_count,
            IFNULL(like_count.like_count, 0) AS like_count,
            IFNULL(collect_count.collect_count, 0) AS collect_count
        FROM posts p
        LEFT JOIN (
            SELECT post_id, COUNT(*) AS browse_count
            FROM browse
            WHERE type = 0
            GROUP BY post_id
        ) browse_count ON p.id = browse_count.post_id
        LEFT JOIN (
            SELECT target_id AS post_id, COUNT(*) AS like_count
            FROM likes
            WHERE type = 0 AND status = 0
            GROUP BY target_id
        ) like_count ON p.id = like_count.post_id
        LEFT JOIN (
            SELECT post_id, COUNT(*) AS collect_count
            FROM collect
            WHERE status = 0
            GROUP BY post_id
        ) collect_count ON p.id = collect_count.post_id
        <if test="tagId != null">
            INNER JOIN post_tag pt ON p.id = pt.post_id AND pt.tag_id = #{tagId}
        </if>
        WHERE p.status = 2 and p.post_type = #{postType}
        <if test="lastId != null and lastCreateTime != null">
            AND (
            p.create_time &lt; #{lastCreateTime}
            OR (p.create_time = #{lastCreateTime} AND p.id &lt; #{lastId})
            )
        </if>
        ORDER BY p.create_time DESC, p.id DESC
        LIMIT #{size}
    </select>

    <select id="getPostTagByPostId" resultType="com.cloudblog.common.pojo.DoMain.PostTag"
            parameterType="java.lang.Long" resultMap="PostTagResultMap">
        select
            id,
            post_id,
            tag_id,
            create_time
        from
            post_tag
        where
            post_id = #{postId}
    </select>

    <select id="getUserInterest" resultType="com.cloudblog.common.pojo.DoMain.UserInterest"
            parameterType="java.lang.Long" resultMap="UserInterestResultMap">
        select
            id,
            user_id,
            tag_id,
            weight,
            create_time,
            update_time
        from
            user_interest
        where
            user_id = #{userId}
    </select>

    <select id="getUserTotalCount" resultType="java.lang.Long">
        select count(*) from posts where author_id = #{userId} and post_type = #{type} and status = 2
    </select>

    <insert id="addPostBrowseCount" parameterType="java.lang.Long">
        insert into browse(post_id, user_id, type, create_time)
        values (#{postId}, #{userId}, 0, now())
    </insert>

</mapper>