<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudblog.content.mapper.SearchMapper">

    <select id="getUserSearchHistory" resultType="com.cloudblog.common.pojo.DoMain.UserSearchHistory">
        select
            *
        from
            user_search_history
        where
            user_id = #{userId}
            and
            is_deleted = 0
        order by
            create_time desc
    </select>

    <insert id="addSearchRecord" keyProperty="id" useGeneratedKeys="true">
        insert into user_search_history
        (user_id, keyword, search_type, create_time)
        values
        (#{po.userId}, #{po.keyword},#{po.searchType}, #{po.createTime})
    </insert>

    <select id="searchUser" resultType="com.cloudblog.common.pojo.Vo.SearchUserVo">
        select
            ui.user_id as user_id,
            ui.user_name as user_name,
            ui.image as image,
            ui.introduction as introduction,
            IFNULL(post_stats.content_count, 0) as contentCount,
            IFNULL(browse_stats.view_count, 0) as viewCount,
            IFNULL(like_stats.liked_count, 0) as likedCount
        from
            user_info ui
                left join (
                -- 统计用户文章总数
                select
                    author_id,
                    count(*) as content_count
                from posts
                where status = 2
                group by author_id
            ) post_stats on ui.user_id = post_stats.author_id
                left join (
                -- 统计用户文章总浏览量
                select
                    p.author_id,
                    count(b.id) as view_count
                from posts p
                         left join browse b on p.id = b.post_id and b.type = 0
                where p.status = 2
                group by p.author_id
            ) browse_stats on ui.user_id = browse_stats.author_id
                left join (
                -- 统计用户文章总被点赞数
                select
                    p.author_id,
                    count(l.id) as liked_count
                from posts p
                         left join likes l on p.id = l.target_id and l.type = 0 and l.status = 0
                where p.status = 2
                group by p.author_id
            ) like_stats on ui.user_id = like_stats.author_id
        where
            (
                ui.user_name like concat('%', #{keyword}, '%')
                    or
                ui.introduction like concat('%', #{keyword}, '%')
                )
          and ui.user_id is not null
        order by
            post_stats.content_count desc,
            browse_stats.view_count desc,
            ui.user_id desc
    </select>

    <delete id="deleteSearchRecord">
        update user_search_history
        set
            is_deleted = 1
        where
            id in (
                <foreach item="item" collection="ids" separator=",">
                    #{item}
                </foreach>
            )
    </delete>

    <update id="clearUserSearchRecord">
        update user_search_history
        set
            is_deleted = 1
        where
            user_id = #{userId}
    </update>

</mapper>