<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudblog.content.mapper.ShareMapper">

    <resultMap id="UserShareVoResultMap" type="com.cloudblog.common.pojo.Vo.UserShareVo">
        <id property="id" column="id"/>
        <result property="brief" column="brief"/>
        <result property="image" column="image"/>
        <result property="createTime" column="create_time"/>
        <result property="contentType" column="content_type"/>
        <result property="browseCount" column="browse_count"/>
        <result property="likeCount" column="like_count"/>
    </resultMap>

    <resultMap id="IndexShareVoResultMap" type="com.cloudblog.common.pojo.Vo.IndexShareVo">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="userAvatar" column="user_avatar"/>
        <result property="topicId" column="topic_id"/>
        <result property="createTime" column="create_time"/>
        <result property="brief" column="brief"/>
        <result property="image" column="image"/>
        <result property="browseCount" column="browse_count"/>
        <result property="likeCount" column="like_count"/>
    </resultMap>

    <resultMap id="IndexTopicVoResultMap" type="com.cloudblog.common.pojo.Vo.IndexTopicVo">
        <id property="id" column="id"/>
        <result property="topicName" column="topic_name"/>
    </resultMap>

    <resultMap id="IndexFocusArticleVoResultMap" type="com.cloudblog.common.pojo.Vo.IndexFocusArticleVo">
        <id property="articleId" column="article_id"/>
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="avatar" column="avatar"/>
        <result property="title" column="title"/>
        <result property="intro" column="intro"/>
        <result property="cover" column="cover"/>
        <result property="type" column="type"/>
        <result property="createTime" column="create_time"/>
        <result property="postType" column="post_type"/>
    </resultMap>

    <select id="getUserPostList" resultType="com.cloudblog.common.pojo.Vo.UserShareVo">
        SELECT s.id AS id,
               s.brief AS brief,
               s.image AS image,
               s.create_time AS create_time,
               s.content_type AS content_type,
               IFNULL(browse_count.browse_count, 0) AS browse_count,
               IFNULL(like_count.like_count, 0) AS like_count
        FROM share s
        LEFT JOIN (
            SELECT post_id, COUNT(*) AS browse_count
            FROM browse
            WHERE type = 1
            GROUP BY post_id
        ) browse_count ON s.id = browse_count.post_id
        LEFT JOIN (
            SELECT target_id AS post_id, COUNT(*) AS like_count
            FROM likes
            WHERE type = 1 AND status = 0
            GROUP BY target_id
        ) like_count ON s.id = like_count.post_id
        WHERE s.author_id = #{userId} AND s.status = 2
        <if test="lastId != null and lastCreateTime != null">
            AND (
            s.create_time &lt; #{lastCreateTime}
            OR (s.create_time = #{lastCreateTime} AND s.id &lt; #{lastId})
            )
        </if>
        ORDER BY s.create_time DESC, s.id DESC
        LIMIT #{size}
    </select>

    <select id="getIndexPostList" resultType="com.cloudblog.common.pojo.Vo.UserShareVo" resultMap="IndexShareVoResultMap">
        SELECT
            s.id AS id,
            ui.user_id AS user_id,
            ui.user_name AS user_name,
            ui.image AS user_avatar,
            s.topic_id AS topic_id,
            s.brief AS brief,
            s.image AS image,
            s.create_time AS create_time,
            s.content_type AS content_type,
            IFNULL(browse_count.browse_count, 0) AS browse_count,
            IFNULL(like_count.like_count, 0) AS like_count
        FROM share s
        LEFT JOIN (
            SELECT post_id, COUNT(*) AS browse_count
            FROM browse
            WHERE type = 1
                GROUP BY post_id
                ) browse_count ON s.id = browse_count.post_id
            LEFT JOIN (
                SELECT target_id AS post_id, COUNT(*) AS like_count
                FROM likes
                WHERE type = 1 AND status = 0
                GROUP BY target_id
            ) like_count ON s.id = like_count.post_id
            LEFT JOIN user_info ui on ui.user_id = s.author_id
        WHERE s.status = 2
            <if test="lastId != null and lastCreateTime != null">
                AND (
                s.create_time &lt; #{lastCreateTime}
                OR (s.create_time = #{lastCreateTime} AND s.id &lt; #{lastId})
                )
            </if>
            <if test="topicId != null">
                AND s.topic_id = #{topicId}
            </if>
        ORDER BY s.create_time DESC, s.id DESC
        LIMIT #{size}
    </select>
    <select id="getTopicList" resultType="com.cloudblog.common.pojo.Vo.IndexTopicVo" resultMap="IndexTopicVoResultMap">
        select
            id,
            topic_name
        from topic
    </select>

    <select id="getFocusShareList" resultType="com.cloudblog.common.pojo.Vo.IndexFocusArticleVo" resultMap="IndexFocusArticleVoResultMap">
        select
            s.id as article_id,
            ui.user_id as user_id,
            ui.user_name as user_name,
            ui.image as avatar,
            s.brief as intro,
            s.image as cover,
            s.create_time as create_time
        from
            share s
            left join user_info ui
                on s.author_id = ui.user_id
            inner join user_focus uf
                on s.author_id = uf.focus_user_id
        where
            s.status = 2  and uf.user_id = #{userId}
            <if test="lastTargetId != null and lastCreateTime != null">
                and (
                s.create_time &lt; #{lastCreateTime}
                or (s.create_time = #{lastCreateTime} and s.id &lt; #{lastTargetId})
                )
            </if>
        order by s.create_time desc, s.id desc
        limit #{size}
    </select>

    <select id="getPublishPageTopicList" resultType="com.cloudblog.common.pojo.Vo.PublishPageTopicListVo"
            parameterType="java.lang.Integer">
        select
            t.image as cover,
            t.description as description,
            (select
                 count(1)
             from
                 share s
             where
                 s.topic_id = t.id and s.status = 2) as participate_count
        from
            topic t
        where
            id = #{topicId}
    </select>
    <select id="getAuthorInfo" resultType="com.cloudblog.common.pojo.DoMain.UserInfo"
            parameterType="java.lang.Long">
        select
            user_name,
            image
        from
            user_info
        where
            user_id = #{authorId}
    </select>

    <select id="getShareBrowseCount" resultType="java.lang.Long" parameterType="java.lang.Long"></select>

    <insert id="addShareBrowseCount">
        insert into browse (user_id, post_id, type, create_time)
        values (#{userId}, #{postId}, 1, now())
    </insert>

</mapper>